//- Hunter Sheet Content
article#hunter
    section.bg-white(class='dark:bg-gray-900')
    .container.px-6.py-10.mx-auto
        .grid.gap-8.mt-8(class='xl:mt-12 xl:gap-12')
            .p-8.space-y-3.border-2.border-gray-400.rounded-xl(class='dark:border-gray-300')
                h1(class='text-2xl font-semibold text-gray-700 capitalize dark:text-white') Hunter
                    p(class='text-gray-500 dark:text-gray-300')
                        | The top section of the sheet

                    input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='character')
                    div
                        button(class="inline-flex items-center h-10 px-4 -mb-px text-sm text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:text-base dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400" type='action' name='act_character') Character
                        button(class="inline-flex items-center h-10 px-4 -mb-px text-sm text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:text-base dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400" type='action' name='act_journal') Journal
                        button(class="inline-flex items-center h-10 px-4 -mb-px text-sm text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:text-base dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400" type='action' name='act_configuration') Configuration
                    .sheet-character
                        //- Includes all the code for the horror character sheet
                        include sections/_hunter_main
                    .sheet-journal
                        //- The settings page for the sheet
                        include sections/_journal
                    .sheet-config
                        //- The settings page for the sheet
                        include sections/_settings