include mixins/_sheetmixins

main#main
    nav#main-nav.sheet-nav
    //- The settings page for the sheet
    include articles/common/_settings
    //- Includes all the code for the horror character sheet
    include articles/hunter/_hunter
    //- Includes all the code for the hunter character sheet
    include articles/horror/_horror
    //- Includes all the code for the npc character sheet
    include articles/npc/_npc

//- Sheet Workers
include javascript/_worker
//- Rolltemplates
include rolltemplates/_obscuredtemplate
