//- NPC Sheet Content
article#npc(class="dark:bg-gray-900")
    section(class="bg-white dark:bg-gray-900")
    div(class="container px-6 py-10 mx-auto")
        div(class="grid gap-8 mt-8 xl:mt-12 xl:gap-12")
            div(class="p-8 space-y-3 border-2 border-gray-400 rounded-xl dark:border-gray-300")
                h1(class="text-2xl font-semibold text-gray-700 capitalize dark:text-white") NPC
                p(class="text-gray-500 dark:text-gray-300")
                    | The NPC sheet