//- Base of sheets

.flex.items-center.justify-center.h-screen.bg-gray-200
  .container
    .bg-white.rounded-lg.shadow-lg.p-5.mx-2(class='md:p-20')
      .text-center.p-10
        h2.text-4xl.tracking-tight.leading-10.font-extrabold.text-gray-900(class='sm:text-5xl sm:leading-none md:text-6xl')
          span.text-pink-600 Roll20 
          | Obscured
        h3.text-xl.mt-10(class='md:text-3xl') Hunter and Horror sheets
        p.text-md.mt-10(class='md:text-xl')
          |  Coming Soon to roll20
      .grid.grid-cols-4.gap-4
        button.px-6.py-2.font-medium.tracking-wide.text-white.capitalize.transition-colors.duration-300.transform.bg-pink-600.rounded-lg(class='hover:bg-pink-500 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-80')
          | 10
        button.col-span-2.px-6.py-2.font-medium.tracking-wide.text-white.capitalize.transition-colors.duration-300.transform.bg-pink-600.rounded-lg(class='hover:bg-pink-500 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-80')
          | 20
        button.px-6.py-2.font-medium.tracking-wide.text-white.capitalize.transition-colors.duration-300.transform.bg-pink-600.rounded-lg(class='hover:bg-pink-500 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-80')
          | 30
        button.px-6.py-2.font-medium.tracking-wide.text-white.capitalize.transition-colors.duration-300.transform.bg-pink-600.rounded-lg(class='hover:bg-pink-500 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-80')
          | 40
        button.px-6.py-2.font-medium.tracking-wide.text-white.capitalize.transition-colors.duration-300.transform.bg-pink-600.rounded-lg(class='hover:bg-pink-500 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-80')
          | 50
        button.col-span-2.px-6.py-2.font-medium.tracking-wide.text-white.capitalize.transition-colors.duration-300.transform.bg-pink-600.rounded-lg(class='hover:bg-pink-500 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-80')
          | 60

//- Other Sheets import

include ../Horror/horror

include ../Hunter/hunter

include ../npc/npc